/* Banner.css */
*{
  font-family: "League Spartan", sans-serif;
}
.banner-container {
  position: relative;
  height: 60vh;
  background-image: url('https://plus.unsplash.com/premium_photo-1661962911608-ea55ac7785da?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  position: relative;
  z-index: 2;
  color: white;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
}

.banner-subtitle {
  font-size: 1.25rem;
  margin-top: 10px;
}

/* SecondBanner.css */
.second-banner-container {
  background-color: #f8f9fa; /* Light background */
  padding: 60px 0;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for card depth */
}

.card-price {
  font-size: 1.5rem;
  color: #007bff; /* Bootstrap primary color */
}

.card ul {
  padding-left: 20px;
  margin-top: 10px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  margin-bottom: 15px;
}
